fastapi
uvicorn[standard]
jinja2
sqlalchemy
supabase
pandas
psycopg2
plotly
dask
pydantic
kafka 
openpyxl
redis
bcrypt
python-dotenv
diskcache
python-multipart  
dotenv
pyarrow
statsmodels
pydantic
uuid
typing
passlib
flask
requests

