<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Microservicios de Vuelos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Accede a los microservicios</h1>
        <div class="button-container">
            <a class="button" href="/api">API</a>
            <a class="button" href="/consultas">Consultas</a>
            <a class="button" href="/analisis">Análisis</a>
        </div>
    </div>
</body>
</html>